.about-home {
  // border: 2px solid red;
  // height: 110vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // background: rgb(217, 217, 216);
  // background: rgb(224, 208, 228);
  // background: linear-gradient(
  //   180deg,
  //   var(--primary-purple-light) 40%,
  //   rgba(255, 255, 255, 1) 100%
  // );
  background: rgb(226, 221, 228);
  // background: rgb(234, 230, 235);
  // background: linear-gradient(
  //   180deg,
  //   rgba(203, 108, 230, 0.05) 30%,
  //   rgba(255, 255, 255, 1) 100%
  // );
  padding: 100px var(--padding-main) 25px;

  @media (max-width: $breakpoint-tablet) {
    padding: 50px var(--padding-tablet);
  }
  @media (max-width: $breakpoint-small) {
    padding: 50px var(--padding-small);
  }
  & .group {
    // border: 1px solid blue;
    box-shadow: 1px 1px 6px 1px rgb(209, 208, 208);
    // border-radius: 5px;
    // display: flex;
    // flex-direction: row;
    height: 450px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    // grid-auto-rows: auto;
    // display: flex;
    // width: 40%;
    position: relative;
    // width: 80%;
    width: 650px;
    // margin: 0 auto;
    margin-left: 200px;

    // width: fit-content;

    @media (max-width: $breakpoint-tablet) {
      margin-left: 0px;
      box-shadow: none;
      display: flex;
      justify-content: center;
    }
    @media (max-width: $breakpoint-small) {
      height: fit-content;
      width: fit-content;
    }
  }

  & h2 {
    text-align: center;
    color: var(--primary-purple);
    font-size: 28px;
    letter-spacing: 1px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 22px;
    }
  }

  & .left {
    // background: var(--primary-grey);
    padding: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.95);
    width: 400px;
    max-width: 400px;
    // width: 80%;
    height: 100%;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    z-index: 999;
    // transform: translateX(90px);
    // transform: translateY(-40px);
    top: -10%;
    // left: -50%;
    left: -200px;
    padding: 3rem 1.5rem;

    @media (max-width: $breakpoint-tablet) {
      position: static;
    }
    @media (max-width: $breakpoint-small) {
      // position: static;
      padding: 15px;
      gap: 15px;
      width: 300px;
      // padding: 2rem;
      height: 80%;
    }

    & h4 {
      text-align: center;
      // line-height: 40px;
      font-weight: 100;
      font-size: 20px;
      border-bottom: 1px solid var(--primary-purple);
      padding: 5px;
      // margin: 0 20px;
      opacity: 0.6;

      @media (max-width: $breakpoint-small) {
        font-size: 16px;
      }
    }

    // & hr {
    //   margin-top: 10px;
    //   width: 60%;
    //   border: 1px solid var(--primary-blue);
    //   margin: 0 auto;
    // }

    & p {
      font-size: 15px;
      opacity: 0.8;
      letter-spacing: 1px;
      line-height: 25px;
      text-align: justify;

      @media (max-width: $breakpoint-tablet) {
        font-size: 12px;
      }
    }

    & .read-more {
      width: fit-content;
      text-decoration: none;

      & button {
        border: 1px solid var(--primary-purple);
        padding: 10px 20px;
        background: white;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: var(--transition-slow);
        gap: 5px;

        @media (max-width: $breakpoint-tablet) {
          padding: 7px 16px;
        }
      }
      & button:hover {
        color: white;
        background: var(--primary-purple);
        transition: var(--transition-slow);
      }
    }
  }

  & .right {
    // border: 2px solid red;
    width: 100%;
    height: 100%;
    max-width: 650px;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }

    & .image {
      height: 100%;
      width: 100%;
    }
  }
  & img {
    height: 100%;
    width: 100%;
  }
}
