.about-home {
  // border: 2px solid red;
  height: 110vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(217, 217, 216);
  background: linear-gradient(
    180deg,
    rgba(217, 217, 216, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );

  & .group {
    // border: 1px solid blue;
    box-shadow: 1px 1px 6px 1px rgb(209, 208, 208);
    // border-radius: 5px;
    // display: flex;
    // flex-direction: row;
    height: 450px;
    // display: grid;
    // grid-template-columns: auto auto;

    // grid-auto-rows: auto;
    // display: flex;
    width: 50%;
    position: relative;
  }

  & h2 {
    text-align: center;
    color: var(--primary-blue);
    font-size: 28px;
  }

  & .left {
    // background: var(--primary-grey);
    padding: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.95);
    width: 450px;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    z-index: 999;
    // transform: translateX(90px);
    // transform: translateY(-40px);
    top: -10%;
    left: -10%;
    height: 100%;

    & h4 {
      text-align: center;
      // line-height: 40px;
      font-weight: 100;
      font-size: 20px;
      border-bottom: 1px solid var(--primary-blue);
      padding: 5px;
      // margin: 0 20px;
      opacity: 0.6;
    }

    // & hr {
    //   margin-top: 10px;
    //   width: 60%;
    //   border: 1px solid var(--primary-blue);
    //   margin: 0 auto;
    // }

    & p {
      font-size: 15px;
      opacity: 0.8;
      letter-spacing: 2px;
      line-height: 20px;
    }

    & .read-more {
      width: fit-content;
      text-decoration: none;

      & button {
        border: 1px solid var(--primary-purple);
        padding: 10px 20px;
        background: white;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: var(--transition-slow);
        gap: 5px;
      }
      & button:hover {
        color: white;
        background: var(--primary-purple);
        transition: var(--transition-slow);
      }
    }
  }

  & .right {
    height: 100%;
    // width: 30vw;

    & img {
      height: 100%;
      width: 100%;
    }
  }
}
