footer {
  // height: 60vh;
  background: var(--primary-blue);
  // background: rgb(98, 102, 105);
  color: white;

  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 40px;

  & .top {
    // border: 2px solid red;
    // border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px var(--padding-main);
    // padding-bottom: 20px;

    & img {
      width: 160px;
      height: 60px;
    }

    & .text {
      display: flex;
      gap: 10px;

      & span {
        color: var(--primary-purple);
        font-size: 18px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  & hr {
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.4);
  }

  & .bottom {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 0px var(--padding-main);

    & .item {
      // border: 2px solid green;
      display: flex;
      flex-direction: column;
      gap: 15px;

      & h1 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.75);
      }
      & p {
        font-size: 14px;

        & .links {
          text-decoration: none;
          color: white;
        }
      }

      & .icons {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
      }
    }
  }

  & .copyright {
    padding: 0px var(--padding-main);
    text-transform: unset;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    letter-spacing: 1px;
  }
}
