.nav-bar {
  //   border: 2px solid red;
  // padding-left: 90px;
  // padding-right: 90px;
  padding: 0 var(--padding-main);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  //   gap: 40px;
  justify-content: space-between;
  background: var(--primary-white);
  box-shadow: 2px 1px 10px 0.5px rgb(143, 141, 141);
  position: sticky;
  z-index: 9999999;
  top: 50px;
  left: 0;

  & .logo {
    // border: 2px solid blue;
    height: 55px;
    width: 160px;

    & img {
      height: 100%;
      width: 100%;
    }

    // & h1 {
    //   outline: 6;
    //   font-family: Baumans;
    //   font-size: 2.5rem;
    //   color: var(--primary-blue);
    // }
  }

  & .right {
    // border: 2px solid green;
    display: flex;
    gap: 20px;

    & a {
      text-decoration: none;
      // color: black;
      color: var(--primary-blue);
      font-weight: 500;

      // font-size: 0.8rem;
      font-size: 14px;
      font-weight: 700;
    }
    & a:hover {
      transition: var(--transition);
      color: var(--primary-purple);
    }
  }
}

.pre-nav {
  height: 60px;
  width: 100%;
  background: var(--primary-blue);
  display: flex;
  align-items: center;
  color: white;
  padding: 20px var(--padding-main);
  // justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999999;
  font-size: 12px;

  & .center {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  & .left {
    display: flex;
    align-items: center;
    gap: 20px;

    & .socials {
      font-size: 22px;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  & a {
    text-decoration: none;
  }
  & button {
    // padding: 15px;
    width: 120px;
    height: 40px;
    background: var(--primary-purple);
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);

    &:hover {
      opacity: 0.9;
      transition: var(--transition);
    }
  }

  & p {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
