.nav-bar {
  //   border: 2px solid red;
  padding-left: 56px;
  padding-right: 56px;
  height: 70px;
  display: flex;
  align-items: center;
  //   gap: 40px;
  justify-content: space-between;
  background: var(--primary-white);
  box-shadow: 2px 1px 15px 0.5px rgb(175, 175, 175);
  position: sticky;
  z-index: 9999999;
  top: 0;
  left: 0;

  & .logo {
    // border: 2px solid blue;

    & h1 {
      outline: 6;
      font-family: Baumans;
      font-size: 2.5rem;
      color: var(--primary-blue);
    }
  }

  & .right {
    // border: 2px solid green;
    display: flex;
    gap: 20px;

    & a {
      text-decoration: none;
      // color: black;
      color: var(--primary-blue);
      font-weight: 500;

      font-size: 0.8rem;
    }
    & a:hover {
      transition: var(--transition);
      color: var(--primary-purple);
    }
  }
}
