.nav-bar {
  //   border: 2px solid red;
  // padding-left: 90px;
  // padding-right: 90px;
  padding: 0 var(--padding-main);
  height: 100px;
  display: flex;
  align-items: center;
  //   gap: 40px;
  justify-content: space-between;
  background: var(--primary-white);
  box-shadow: 2px 1px 10px 0.5px rgb(143, 141, 141);
  position: sticky;
  z-index: 9999999;
  top: 0;
  left: 0;

  & .logo {
    // border: 2px solid blue;
    height: 55px;
    width: 160px;

    & img {
      height: 100%;
      width: 100%;
    }

    // & h1 {
    //   outline: 6;
    //   font-family: Baumans;
    //   font-size: 2.5rem;
    //   color: var(--primary-blue);
    // }
  }

  & .right {
    // border: 2px solid green;
    display: flex;
    gap: 20px;

    & a {
      text-decoration: none;
      // color: black;
      color: var(--primary-blue);
      font-weight: 500;

      // font-size: 0.8rem;
      font-size: 14px;
      font-weight: 700;
    }
    & a:hover {
      transition: var(--transition);
      color: var(--primary-purple);
    }
  }
}
