.booking {
  // border: 2px solid red;
  padding: 70px var(--padding-main);
  background: white;
  min-height: 120vh;
  // margin-bottom: 30px;

  & h1 {
    font-size: 1.6rem;
    color: var(--primary-blue);
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 19px;
  }

  & h3 {
    font-size: 1.2rem;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--primary-purple);
    width: fit-content;
    margin-bottom: 20px;
  }

  & .center {
    // border: 2px solid blue;
    height: 100vh;
    max-height: 670px;
    margin: 0 auto;
    // max-width: 900px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    & img {
      height: 100vh;
      width: 100%;
      // object-fit: contain;
    }

    & .form {
      height: 100%;
      width: 50%;
      //   border: 2px solid green;
      padding: 30px;
      display: flex;
      flex-direction: column;
      // gap: 30px;
      justify-content: space-between;
      width: 100%;

      & .top {
        // border: 2px solid red;
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        & .item {
          display: flex;
          flex-direction: column;
          gap: 20px;

          & label {
            font-size: 14px;
            font-weight: 700;
          }

          & select {
            padding: 7px;

            & option {
              font-size: 0.8rem;
            }
          }

          & input {
            padding: 7px;
          }
        }
      }

      & .slot {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 10px;

        & h2 {
          font-size: 14px;
        }

        & .items {
          //   border: 2px solid purple;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          gap: 10px;

          & .item {
            padding: 10px 0;
            border: 1px solid black;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
            transition: var(--transition);

            &:hover {
              color: white;
              background: var(--primary-blue);
              transition: var(--transition);
            }
          }
        }
      }

      & .name {
        // border: 2px solid red;
        display: grid;
        grid-template-columns: 13% 1fr 1fr;
        gap: 15px;

        & input,
        select {
          padding: 7px;
        }
      }

      & .details {
        // border: 2px solid red;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        & input,
        select {
          padding: 7px;
        }

        & .number {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      & button {
        padding: 16px 0;
        text-align: center;
        background: var(--primary-blue);
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: var(--transition);

        &:hover {
          transform: scale(0.98);
          transition: var(--transition);
        }
      }
    }
  }
}

.home-service {
  height: 100vh;
  background-repeat: no-repeat;
  //   object-fit: contain;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    // background: rgba(46, 54, 143, 0.4);
  }

  & .form {
    position: relative;
    z-index: 9999;
    color: white;
    // border: 2px solid red;
    width: 50%;
    // height: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    // background: rgba(0, 0, 0, 0.3);
    background: rgba(46, 54, 143, 0.3);

    border-radius: 10px;
    padding: 40px;

    & h1 {
      text-align: center;
      font-size: 25px;
      // color: var(--primary-blue);
      letter-spacing: 1px;
    }

    & .center {
      //   border: 2px solid blue;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      & .item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & label {
          color: rgb(148, 146, 146);
        }

        & input {
          padding: 10px;
          border-radius: 5px;
          border: none;
        }

        & .number {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
    & button {
      width: 40%;
      padding: 15px 20px;
      background: var(--primary-blue);
      color: white;
      margin: 0 auto;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        background: white;
        color: black;
        transition: var(--transition);
      }
    }
  }
}
