.services {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  //   width: 100%;
  justify-content: center;
  align-items: center;
  background: white;
  // height: 120vh;

  & h1 {
    color: var(--primary-blue);
    font-size: 35px;
  }

  & .center {
    // border: 2px solid blue;
    // height: 70%;
    display: grid;
    grid-template-columns: 35% 35%;
    grid-auto-rows: auto;
    justify-content: center;
    gap: 60px;
    width: 100%;
    // background: var(--primary-grey);
    background: rgb(217, 217, 216);
    background: linear-gradient(
      90deg,
      rgba(217, 217, 216, 1) 0%,
      rgba(255, 255, 255, 1) 85%
    );
    padding: 50px var(--padding-main);
    border-radius: 5px;
    // padding-bottom: 80px;
    height: 80vh;

    & .item-center {
      // border: 2px solid red;
      transition: var(--transition-slow);
      height: 80px;
    }

    & .item {
      //   cursor: pointer;
      // padding-bottom: 40px;
      transition: var(--transition-slow);
      height: 190px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      gap: 12px;
      padding: 25px;
      // height: 200px;
      border-radius: 15px;
      // background: white;
      // background: rgba(0, 0, 0, 0.35);
      // background: var(--primary-blue);
      // background: rgba(46, 54, 143, 1);
      background: var(--primary-purple);
      // border: 1px solid var(--primary-blue);
      box-shadow: 1px 1px 6px 2px rgb(83, 82, 82);

      & h2 {
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        // color: var(--primary-blue);
        color: white;
        // opacity: 0.8;
        font-weight: 200;
        font-family: Baumans;
        display: flex;
        align-items: center;
        gap: 8px;

        & span {
          display: flex;
          align-items: center;
          // color: var(--primary-purple);
          color: white;
        }
      }

      & ul {
        text-decoration: none;
        list-style-type: none;
        // display: none;
        opacity: 0;
        transition: var(--transition-slow);
        transform: translateY(-30px);
        display: flex;
        flex-direction: column;
        gap: 13px;

        & li {
          font-size: 20px;
          // opacity: 0.7;
          color: white;
          // color: var(--primary-blue);

          & .read-more {
            text-decoration: none;
            border-bottom: 1px solid black;
            text-transform: uppercase;
            // color: var(--primary-blue);
            color: black;
            font-size: 15px;
            cursor: pointer;
            transition: var(--transition);
            width: fit-content;
          }

          & .read-more:hover {
            transition: var(--transition);
            border-bottom: 1px solid var(--primary-blue);
            color: var(--primary-blue);
          }
        }
      }
    }

    & .item:hover {
      transition: var(--transition);
      // height: 150px;

      & ul {
        transition: var(--transition-slow);
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
