.team {
  background: white;
  // height: 80vh;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px var(--padding-main);
  // border-top: 5px solid red;
  // background: rgb(217, 217, 216);
  // background: linear-gradient(
  //   180deg,
  //   rgba(217, 217, 216, 1) 0%,
  //   rgba(255, 255, 255, 1) 10%
  // );

  & h2 {
    text-align: center;
    color: var(--primary-purple);
    font-size: 40px;
    letter-spacing: 1px;
  }

  & .people {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    // border: 2px solid blue;
  }

  & .person {
    // border: 2px solid green;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    // align-items: center;
    border-radius: 10px;
    // border: 1px solid var(--primary-blue);
    box-shadow: 1px 2px 15px 1px rgb(211, 208, 208);
    min-width: 250px;

    width: 30%;
    max-width: 400px;

    // & img {
    //   height: 70px;
    //   width: 70px;
    //   border-radius: 50%;
    //   object-fit: cover;
    // }
    & .image {
      height: 75px;
      width: 75px;
      border-radius: 50%;
      background-size: cover;
      background-position: top;
      object-fit: cover;
      background-repeat: no-repeat;
    }

    & h3 {
      font-size: 1rem;
      text-align: center;
      // height: 40%;
      // border: 2px solid red;
      // color: var(--primary-purple);
      text-transform: uppercase;
    }

    & p {
      font-size: 0.7rem;
      text-align: center;
    }

    & .role {
      text-transform: capitalize;
    }

    & .company {
      color: var(--primary-purple);
      text-transform: capitalize;
    }
  }

  & .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    & .person {
      width: 32%;
      min-width: 250px;

      width: 30%;
      max-width: 450px;
    }
  }
}
