.about {
  // border: 2px solid red;
  // height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  // padding-top: 40px;
  background: rgb(217, 217, 216);
  background: linear-gradient(
    180deg,
    rgba(217, 217, 216, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );

  & .top {
    // border: 2px solid red;
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    position: relative;
    // z-index: 1;
    padding: 40px var(--padding-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      // z-index: 2;
      // background: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;
      background: rgb(46, 54, 143);
      background: linear-gradient(
        90deg,
        rgba(46, 54, 143, 0.6) 10%,
        rgba(0, 0, 0, 0.7) 100%
      );
    }

    & h3 {
      position: relative;
      z-index: 99999;
      font-size: 49px;
      width: 50%;
    }

    & p {
      z-index: 99999;
      position: relative;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  & h2 {
    font-size: 2rem;
    color: var(--primary-blue);
    letter-spacing: 2px;
  }

  & .group {
    // border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px var(--padding-main);
    grid-auto-rows: auto;
    // align-items: center;
  }

  & .center {
    // width: 90%;
    // border: 2px solid blue;
    background: white;
    padding: 40px;
    border-radius: 25px;
    // height: 180px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 1px 1px 5px 1px rgba(109, 109, 109, 0.6);
    transition: var(--transition-slow);
    // border: 1px solid var(--primary-purple);

    & h3 {
      font-size: 25px;
      // border: 2px solid red;
      color: var(--primary-blue);
      letter-spacing: 2px;
      text-align: center;
    }

    & p {
      text-align: center;
      letter-spacing: 2px;
      line-height: 30px;
      font-size: 20px;
    }

    &:hover {
      box-shadow: none;
      transition: var(--transition-slow);
    }
  }

  & .values {
    & ul {
      list-style-type: none;
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & li {
        font-size: 20px;
        letter-spacing: 2px;
        display: flex;
        gap: 10px;

        & span {
          color: var(--primary-blue);
          font-size: 25px;
        }
      }
    }
  }
}

.value-proposition {
  // border: 2px solid red;
  //   height: 100vh;
  padding: 90px var(--padding-main);
  display: flex;
  flex-direction: column;
  gap: 90px;
  background: rgb(217, 217, 216);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(217, 217, 216, 1) 100%
  );

  & h1 {
    font-size: 35px;
    font-weight: 700;
    color: var(--primary-blue);
    text-align: center;
  }

  & .values {
    // border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    // gap: 30px;
    row-gap: 60px;
    padding: 0 150px;

    & .value-center {
      // border: 2px solid red;
      display: flex;
      // justify-content: center;
    }

    & .value {
      // border: 2px solid green;
      display: flex;
      align-items: center;
      // justify-content: center;
      padding-left: 60px;
      gap: 20px;
      font-size: 18px;
      font-weight: 700;
      width: 100%;

      & span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--primary-blue);
        padding: 20px;
        display: flex;
        align-items: center;
        color: white;
        font-weight: 700;
      }
    }
  }
}

.service-offering {
  // border: 2px solid red;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px var(--padding-main);

  & h1 {
    font-size: 35px;
    color: var(--primary-blue);
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
  }

  & .center {
    // border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    & .item {
      // border: 2px solid green;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 30px;
      padding: 20px;
      border-left: 1px solid var(--primary-purple);
    }
  }

  & h2 {
    display: flex;
    gap: 10px;
  }

  & span {
    color: var(--primary-blue);
    // background: var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
  }
}
